<!doctype html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">
<head>
<title>Cadastro de Alunos com Validação</title>
<meta th:insert="~{fragments/headerinc :: head}"></meta>
</head>
<body>
	<main role="main" class="container">
		<div class="starter-template">
			<div class="col-md-8 order-md-1">
				<h1 class="mb-3">Cadastro de aluno</h1>

				<form th:action="@{/alunos}" method="POST" th:object="${aluno}">
					<input type="hidden" th:field="*{id}" />
					<div class="row">
						<div class="col-md-9 mb-9">
							<label for="nome">Nome</label>
							<p th:if="${#fields.hasErrors('nome')}" th:errorclass="error"
								th:errors="*{nome}" />
							<input type="text" th:field="*{nome}" class="form-control" />
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 mb-3">
							<label for="matricula">Matricula</label>
							<p th:if="${#fields.hasErrors('matricula')}"
								th:errorclass="error" th:errors="*{matricula}" />
							<input type="text" th:field="*{matricula}" class="form-control" />
						</div>
					</div>

					<div class="row">
						<div class="col-md-3 mb-3">
							<label>Data Nascimento</label>
							<p th:if="${#fields.hasErrors('dataNascimento')}"
								th:errorclass="error" th:errors="*{dataNascimento}" />
							<input type="text" placeholder="dd/mm/aaaa"
								th:field="*{dataNascimento}" class="form-control" />
						</div>
					</div>

					<div class="row">
						<div class="col-md-6 mb-6">
							<label>Email</label>
							<p th:if="${#fields.hasErrors('email')}" th:errorclass="error"
								th:errors="*{email}" />
							<input type="text" th:field="*{email}" class="form-control" />
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-6 mb-6">
							<label>Código do Curso</label>
							<p th:if="${#fields.hasErrors('codCurso')}" th:errorclass="error"
								th:errors="*{codCurso}" />
							<input type="text" th:field="*{codCurso}" class="form-control" 
								placeholder="AAA999"/>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-6 mb-6">
							<label>Identidade (RG)</label>
							<p th:if="${#fields.hasErrors('rg')}" th:errorclass="error"
								th:errors="*{rg}" />
							<input type="text" th:field="*{rg}" class="form-control"/>
						</div>
					</div>

					<hr class="mb-4">

					<div class="row">
						<div class="col-md-3 mb-3">
							<button class="btn btn-primary btn-md btn-block" type="submit">Salvar</button>
							<a class="btn btn-danger btn-md btn-block" th:href="@{/alunos}">Cancelar</a>
						</div>
					</div>
				</form>
			</div>
		</div>
	</main>

	<div th:insert="~{fragments/footerinc :: foot}"></div>
</body>
</html>

