<!doctype html>
<html lang="pt_BR" xmlns:th="www.thymeleaf.org">
<head>
<title>Cadastro de Alunos com Validação</title>
<meta th:insert="~{fragments/headerinc :: head}"></meta>
</head>
<body>
	<main role="main" class="container">

		<div class="starter-template" th:if="${#lists.size(alunos) > 0}">
			<h1>Alunos Matriculados</h1>
			<hr />
			<form th:action="@{/alunos/form}" method="GET">
				<button class="btn btn-primary" type="submit">Nova</button>
			</form>
			<br />
			<div th:text="${mensagem}" style="color: blue"></div>
			<br />

			<div th:text="'Existe(m) ' + ${#lists.size(alunos)} + ' registro(s).'"></div>
			<table class="table table-striped table-sm">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Matrícula</th>
						<th style="text-align: center;">Data Nascimento</th>
						<th>Email</th>
						<th>Código do Curso</th>
						<th>Operações</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="aluno : ${alunos}">
						<td><a th:href="@{/alunos/{id}(id=${aluno.id})}"
							th:text="${aluno.nome}"></a></td>

						<td th:text="${aluno.matricula}" style="text-align: center;" />
						<td th:text="${aluno.email}" style="text-align: center;" />
						<td th:text="${#temporals.format(aluno.dataNascimento, 'dd/MM/yyyy')}"
							style="text-align: center;" />
						<td th:text="${aluno.codCurso}" style="text-align: center;" />
						<td><a class="btn btn-outline-primary btn-sm"
							th:href="@{/alunos/{id}/delete/(id=${aluno.id})}"> <img
								th:src="@{/icons/trash.svg}" title="Excluir aluno"
								alt="Excluir aluno" />
						</a></td>
					</tr>
				</tbody>
			</table>
		</div>

	</main>

	<div th:insert="~{fragments/footerinc :: foot}"></div>
</body>
</html>

